<br><br><br>
<div class="container">
	<h4 class="text-muted">Who Am I?</h4>
	<div class="row about-me">
		<p>Student of Systems Analyst Co-op program at Sheridan College with High Honours standing (3.99/4.0 GPA), eager to learn, attentive to details 
			and passionate about programming. In Winter 2018 term, worked as a QE Analyst Co-op at RBC for <i>“Fund Merger/Termination Automation”</i> 
			project (web application) as a full stack developer with an “outstanding” performance evaluation. In Fall 2018 term, again at RBC, worked on 
			the <i>“LINX - Python to C# Code Conversion”</i> project with “high performance” performance evaluation.
			Currently I am working in the same team as a returning student.
		</p>
	</div>
</div>
<br>
<div class="container">
	<h4 class="text-muted">My Technical Skills</h4>
	<div class="row about-me">
		<ul>
			<li>Java, J2EE, Spring Boot, Hibernate, .Net Entity Framework Core, C#, MVC, Maven</li>
			<li>Angular, JavaScript, jQuery, jQuery Mobile</li>
			<li>Android Development</li>
			<li>LeanFT, JUnit, SIFT </li>
			<li>SAP GUI scripting</li>
			<li>Design and build responsive web pages using HTML5, CSS, Bootstrap</li>
			<li>Oracle SQL, MySQL, MS Access, JSON, AJAX</li>
			<li>Software Development Life Cycle (SDLC), Unified Modeling Language (UML), Test Driven Development (TDD), Continuous
			Integration (CI)</li>
			<li>GitHub, Team Foundation Server (TFS)</li>
			<li>Visual Studio, Eclipse, Android Studio, Visual Code, Netbeans</li>
		</ul>
	</div>
</div>
<br>
<div class="container">
	<h4 class="text-muted">My Soft Skills</h4>
	<div class="row about-me">
		<ul>
			<li>Learn new technologies and tools quickly</li>
			<li>Chosen as a Group Leader for several school group projects</li>
			<li>Hardworking with positive attitude</li>
			<li>Enjoys exceeding expectations and challenges</li>
			<li>Effective verbal and written communication skills</li>
			<li>Good team player who also works well independently</li>
			<li>Creative and analytical thinker who prefers finding long-term solutions for frequently encountered problems</li>
		</ul>
	</div>
</div>
<br>
<div class="container">
	<h4 class="text-muted">My Certificates & Badges </h4>
	<div class="row">
		<div>
			<a href="https://www.youracclaim.com/badges/124b6b93-1e32-4710-8596-e6a1a0b45523/embedded" target="_blank">
				<img src="/assets/images/bigDataFoundations.jpg" alt="Big Data Foundations - Level 1"/>
			</a>
		</div>
		<div>
			<a href="https://www.youracclaim.com/badges/d2a4178e-b024-4e80-832f-888a79c618a0/embedded" target="_blank">
				<img src="/assets/images/hadoopFoundations.jpg" alt="Hadoop Foundations - Level 1"/>
			</a>
		</div>
	</div>
</div>
<br>
<div class="container">
	<h4 class="text-muted">What am I doing in my free time?</h4>
	<div class="row about-me">
		<ul>
			<li>Digital Drawing</li>
			<li>Playing MMORPG and RPG games</li>
			<li>Improving my programming language and technology knowledge by myself</li>
			<li>Sewing costumes and working on DIY (Do it yourself) projects</li>
			<li>Reading books and manga</li>
		</ul>
	</div>
</div>