p:last-child {
	margin-bottom: 0;
}

.jumbotron {
	background-color: transparent;
	color: white;
	margin-top: 1em;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 0;
}

.album {
	background-color: transparent;
	padding-bottom: 3rem;
}

.card {
	float: left;
	width: 15%;
	padding: .75rem;
	margin: 0.1em;
	border: 0;
}

.card > img, .card > a > img {
	margin-bottom: .75rem;
	width: 95%;
}

.card-text {
	font-size: 85%;
}

body {
	background-color: black;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

a div img {
	width: 100%;
	color: black;
}

.index {
	width: 400px;
	height: 350px;
	color: black;
}

.index > img{
	height: 75%;
	margin: auto;
}
.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}