<div class="container intro">
	<div class="row">
		<div class="col-sm-9">
			<p><em>I am an almost graduated computer programmer with a 3.99 GPA (and an Award of Excellence with that!) and I have co-op
			experience at RBC for three terms in Retail Applications as Quality Engineer. 
			<br> <br>
			I am passionate about learning new technologies and ambitious for being the best I can be! I believe programming is my true call and I even moved from
			another country to get an education at Sheridan College. 
			<br><br>
			My goal is being a part of a team where I can use my analytical
			and creative skills; so I can get the satisfaction of achieving great efficient projects.
			<br><br>
			Please do not forget to check <a routerLink="/projects">my projects</a> and my <a href="https://github.com/FulyaDemirkan" target="_new">GitHub</a> account!</em>
			</p>
		</div>
		<div class="col-sm-2 thatsme">
			<figure class="figure">
				<img class="figure-img img-fluid rounded" src="/assets/images/thatsMe.png" alt="That's me">
				<figcaption><small><em>(Yep, that's me in my natural environment)</em></small></figcaption>
			</figure>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
		<p><em>"One code to rule them all, One method to find them, One build to compile them all, And in a cloud bind
			them..."</em></p>
		</div>
	</div>
</div>
<!--
<div class="foot">
	<div id="title">
		<span>To boldly go where no nyan cat has gone before...</span>
	</div>
	<div class="center">
		<img src="assets/images/nyan_cat.gif" alt="Nyan nyan..." title="Nyan nyan...">
	</div>
</div>-->